// 登录首页的样式覆盖
.login_tab {
  .van-tabs__nav {
    background-color: transparent !important;
  .van-tab span {
      font-size:15px;
      color: #FFFFFF;
      }
  }
  .van-tabs__wrap {
    top: -50px;
  }
  .van-tabs__line{
    background-color: #FFFFFF;
  }
  [class*=van-hairline]::after {
    border: 0px;
  }
}
.login_text {
  .van-tabs--line {
    padding-top: 0px !important;
  }
}
// shopregister 页面
.shopregister_common {
  .van-hairline--top-bottom::after {
    border: none;
  }
  .van-search--show-action {
    border-bottom: 1px solid #E7E7E7;/*no*/ 
  }
  .van-tab span {
    font-size:15px;
    color: #333;
  }
  .van-tabs__line{
    background-color: #4597fb;
    border-radius:2px;
  }
}
.center_search {
  .van-field__left-icon {
    position: absolute;
    right: 10px;
    z-index: 999999
  }
  .van-icon {
    display: none;
  }
}

// 代理产品页面
.agentproduct_common {
  .van-pull-refresh{
    overflow: visible;
  }
  .van-tab:nth-child(3){
    span {
      border-left: 1px solid #E7E7E7;
      border-right: 1px solid #E7E7E7;
      display:inline;
      padding: 0px 40px;
    }
  }
  .van-hairline--top-bottom::after {
    border: none;
  }
  .van-tabs__line {
    background-color: #4597FB;
    border-radius:2px;
  }
  .van_popup_text {
    width: 279px;
    padding: 38px 20px 20px 13px;
    border-radius:5px;
    .product_message {
      color: #333333;
      font-size:15px;
      padding: 0px 24px;
      line-height: 25px;
    }
    .product_radio {
      padding-left: 21px;
      font-size: 13px;
      color: #999;
    }
    .product_button {
      button {
        width: 118px;
        height: 40px;
        color: #FFFFFF;
        font-size:17px;
        border-radius: 20px;
        line-height: 40px;
      }
      :nth-child(1){
        background-color: #fff;
        color: #4597FB;
        border: 1px solid #4597FB;/*no*/
        margin-right: 10px;
      }
      :nth-child(2){
        background-color: #4597FB;
        
      }
    }
  }
}

// 微店招牌
.shopsign_common{
  .van-radio__icon--checked .van-icon{
    border-radius: 0px;
    width: 49px; 
    height: 49px;
    color: transparent;
    background: url('../imgs/xuanzhong.png') no-repeat;
    background-size: 100%;
  }
  .van-icon-success:before {
    position: absolute;
    z-index: 9999;
    right: 0px;
    font-size: 20px;
  }
  .van-radio__icon--round .van-icon{
    border: none;
  }
  .van-radio__icon{
    height: 49px;
  }
}
//佣金提现
.navbarrighttext{
  .van-nav-bar__right .van-nav-bar__text{
    color:#333333!important;
    font-size:14px;
  }
}

// 信用卡
.productCard_common{
  .van-progress__pivot {
    display: none;
  }
  .van-progress {
    left: 88px;
    bottom: 12px;
    width: 80%;
    background-color: #DFDFDF;
    border-radius:3px;
  }
}

// 我的订单
.mshopapply_common {
  .van-popup--top {
    left: 50%;
  }
  .van-dropdown-menu__title{
    line-height: 19px;
  }
  .van-dropdown-menu__item,.van-dropdown-menu{
    height: 30px;
  }
  .van-pull-refresh{
    overflow: visible;
  }
  .van-tab:nth-child(3){
    span {
      border-left: 1px solid #E7E7E7;
      border-right: 1px solid #E7E7E7;
      display:inline;
      padding: 0px 30px;
    }
  }
  .van-hairline--top-bottom::after {
    border: none;
  }
  .van-tabs__line {
    background-color: #4597FB;
    border-radius:2px;
  }
  .van_popup_text {
    width: 279px;
    padding: 38px 20px 20px 13px;
    border-radius:5px;
    .product_message {
      color: #333333;
      font-size:15px;
      padding: 0px 24px;
      line-height: 25px;
    }
    .product_radio {
      padding-left: 21px;
      font-size: 13px;
      color: #999;
    }
    .product_button {
      button {
        width: 118px;
        height: 40px;
        color: #FFFFFF;
        font-size:17px;
        border-radius: 20px;
        line-height: 40px;
      }
      :nth-child(1){
        background-color: #fff;
        color: #4597FB;
        border: 1px solid #4597FB;/*no*/
        margin-right: 10px;
      }
      :nth-child(2){
        background-color: #4597FB;
        
      }
    }
  }
}
// 下拉刷新
.xialashuaxin {
  height: 100%;
  .van-loading.van-loading--circular{
    text-align: center;
    width: 375px;
    line-height: 35px;
  }
}
