// 登录首页的样式覆盖
.login_tab {
  .van-tabs__nav {
    background-color: transparent !important;
  .van-tab span {
      font-size:15px;
      color: #FFFFFF;
      }
  }
  .van-tabs__wrap {
    top: -50px;
  }
  .van-tabs__line{
    background-color: #FFFFFF;
    bottom: 18px;
  }
  [class*=van-hairline]::after {
    border: 0px;
  }
}
.login_text {
  .van-tabs--line {
    padding-top: 0px !important;
  }
}

// shopregister 页面

  [class*=van-hairline]::after {
    border: none !important;
  }

.shopregister_common {
  .van-icon-search:before {
    display: none !important;
  }
  #quan{
    background-color: transparent !important;
    // z-index: -1;
  }
    // 消除动画
  .van-popup--right{
    transform: none;
    top: 0px;
    // transform: translate3d(0,-50%,0);
  }
  
  .rightShow_two {
    padding-bottom: 10px;
    ul{
      li {
        display: inline-block;
        width: 88px;
        height: 32px;
        line-height: 32px;
        background-color: #f4f4f4;
        font-size: 13px;
        color: #333;
        text-align: center;
        border-radius: 2px;
        margin: 0px 10px 10px 0px;
        border: none;
      }
      .active{
        background-color: #4597FB;
        color: #FFFFFF;
      }
    }
  }
  .van-hairline--top-bottom::after {
    border: none;
  }
  .van-search--show-action {
    border-bottom: 1px solid #f2f2f2;/*no*/ 
  }
  .van-tab span {
    font-size:15px;
    color: #333;
  }
  .van-tabs__line{
    background-color: #4597fb;
    border-radius:2px;
  }
}
.center_search {
  .van-field__left-icon {
    position: absolute;
    right: 10px;
    z-index: 999999
  }
  .van-icon {
    display: none;
  }
}

// 代理产品页面
.agentproduct_common {
  .footer_button{
    button {
      width: 375px;
      height: 52px;
      line-height: 52px;
      background-color: #4597fb;
      font-size:16px;
      font-weight:bold;
      position: fixed;
      bottom: 0px;
      color:rgba(255,255,255,1);
      left: 0px;
    }
  }
  .van-pull-refresh{
    overflow: visible;
  }
  .van-tab:nth-child(3){
    span {
      border-left: 1px solid #f2f2f2;
      border-right: 1px solid #f2f2f2;
      display:inline;
      padding: 0px 40px;
    }
  }
  .van-hairline--top-bottom::after {
    border: none;
  }
  .van-tabs__line {
    background-color: #4597FB;
    border-radius:2px;  
    height: 4px;
  }
  .van_popup_text {
    width: 289px;
    padding: 38px 20px 20px 13px;
    border-radius:5px;
    .product_message {
      color: #333333;
      font-size:15px;
      padding: 0px 24px;
      line-height: 25px;
    }
    .product_radio {
      padding-left: 21px;
      font-size: 13px;
      color: #999;
      margin: 20px 0px;
    }
    .product_button {
      button {
        width: 118px;
        height: 40px;
        color: #FFFFFF;
        font-size:17px;
        border-radius: 20px;
        line-height: 40px;
      }
      :nth-child(1){
        background-color: #fff;
        color: #4597FB;
        border: 1px solid #4597FB;/*no*/
        margin-right: 20px;
      }
      :nth-child(2){
        background-color: #4597FB;
        
      }
    }
  }
}
.van_popup_text.van-popup{
  background-color: #fff !important;
}
.productdetails_common{
  .van_popup_text {
    width: 289px;
    padding: 38px 20px 20px 14px;
    border-radius:5px !important;
    .product_message {
      color: #333333;
      font-size:15px;
      padding: 0px 24px;
      line-height: 30px;
    }
    .product_radio {
      padding-left: 21px;
      font-size: 13px;
      color: #999;
      margin: 20px 0px !important;
    }
    .product_button {
      button {
        width: 118px;
        height: 40px;
        color: #FFFFFF;
        font-size:17px;
        border-radius: 20px;
        line-height: 40px;
      }
      :nth-child(1){
        background-color: #fff;
        color: #4597FB;
        border: 1px solid #4597FB;/*no*/
        margin-right: 18px;
      }
      :nth-child(2){
        background-color: #4597FB;
        
      }
    }
  }
}

// 微店招牌
.shopsign_common{
  .van-radio__icon--checked .van-icon{
    border-radius: 0px;
    width: 49px; 
    height: 49px;
    color: transparent;
    background: url('../imgs/xuanzhong.png') no-repeat;
    background-size: 100%;
  }
  .van-icon-success:before {
    position: absolute;
    z-index: 9999;
    right: 0px;
    font-size: 20px;
  }
  .van-radio__icon--round .van-icon{
    border: none;
  }
  .van-radio__icon{
    height: 49px;
  }
}
//佣金提现
.navbarrighttext{
  .van-nav-bar__right .van-nav-bar__text{
    color:#333333!important;
    font-size:14px;
  }
}
.detailsmain .van-pull-refresh {
  overflow: visible !important;
}
// 我的订单
.mshopapply_common {
  .van-tabs__wrap {
    position: fixed;
    top: 44px;
    background-color: red;
  }
  .van-popup--top {
    left: 50%;
  }
  .van-dropdown-menu__title{
    line-height: 19px;
  }
  .van-dropdown-menu__item,.van-dropdown-menu{
    height: 33px;
  }
  .van-pull-refresh{
    overflow: visible;
  }
  .van-tab {
    line-height: 44 px;
  }
  .van-tab:nth-child(3){
    span {
      border-left: 1px solid #f2f2f2;
      border-right: 1px solid #f2f2f2;
      display:inline;
      padding: 0px 30px;
    }
  }
  .van-hairline--top-bottom::after {
    border: none;
  }
  .van-tabs__line {
    background-color: #4597FB;
    border-radius:4px;
    bottom: 20px;
  }
  .van_popup_text {
    width: 279px;
    padding: 38px 20px 20px 13px;
    border-radius:5px;
    .product_message {
      color: #333333;
      font-size:15px;
      padding: 0px 24px;
      line-height: 25px;
    }
    .product_radio {
      padding-left: 21px;
      font-size: 13px;
      color: #999;
      margin-top: 20px;
    }
    .product_button {
      button {
        width: 118px;
        height: 40px;
        color: #FFFFFF;
        font-size:17px;
        border-radius: 20px;
        line-height: 40px;
      }
      :nth-child(1){
        background-color: #fff;
        color: #4597FB;
        border: 1px solid #4597FB;/*no*/
        margin-right: 10px;
      }
      :nth-child(2){
        background-color: #4597FB;
      }
    }
  }
}
// 下拉刷新
.xialashuaxin {
  .van-loading.van-loading--circular{
    text-align: center;
    width: 345px !important;
    line-height: 35px;
  }
}

.height{
  height: 456px;
  background-color: #f1f1fb;
}
.height1{
  height: 100%;
  background-color: #f1f1fb;
}
.mwithdrawal_common {
  .van-pull-refresh{
    overflow: visible;
  }
  .van-tabs__line{
    background-color: #4597FB;
    bottom:20px;
  }
}

// 提现
.commissmain{
  .van-number-keyboard{
    z-index: 2000 !important;
  }
  .van-overlay{
    z-index: 999 !important;
  }
  .van-password-input__security li{
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;/*no*/
  }
  .van-password-input__security{
    height: 40px;
  }
}

.commissdetailmain {
  .xialashuaxin.van-pull-refresh {
    overflow: visible;
  }
  .van-pull-refresh__head{
    z-index: -1;
  }
  .van-dropdown-menu__item{
    text-align: left;
    -webkit-justify-content:left;
    padding-left: 20px;
  }
  [class*=van-hairline]::after{
    border: none;
    border-top: 1px solid #F1F1FB;/*no*/
  }
  .van-popup--top {
    left: 50%;
  }
}

.heightCommon{
  height: 100%;
}

.haha .van-loading.van-loading--circular {
  display: none !important;
}

// 海报
.haibaoIMg {
  img{
    width: 289px;
    // height: 460px;
    border-radius: 5px;
  }
}

// 编辑店铺
.delect {
  .van-dialog__header {
    border-bottom: 1px solid #f2f2f2; /*no*/ 
    padding: 15px 0px;
    font-size: 18px;
  }
  .van-dialog__message{
    font-size: 13px;
    color: #333;
    padding-top: 20px;
  }
}

// 分享引导页
.yindaoshow{
  background-color: transparent;
  width: 279px;
  height: 270px;
  top: 25%;
  img{
    width: 279px;
    height: 270px;
  }
}