@import './variable.less';
@import './private.less';
body,html{
    margin: 0;
    padding: 0
}
#app{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    font-size: 14px;/*px*/
}

button {
    outline:0;
}
