@import './variable.less';
@import './private.less';
@import '../src/pages/myShop/less/myshop';
@import '../src/pages/shareShop/less/index';
// @import '/node_modules/vant/lib/index.css';

body,html{
    margin: 0;
    padding: 0;
}
#app{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    font-size: 14px;/*px*/
    font-family:'PingFang-SC-Medium';
}
.pddingTop{
    padding-top: 45px;
    border-bottom:1px solid #E7E7E7;
    >header{
        border-bottom:1px solid #E7E7E7;
    }
}
button {
    outline:0;
}

// 共同的样式
.navbar {
    width: 100%;
    height: 8px;
    background-color: #F1F1FB;
}
// 头部导航
.van-icon-arrow-left:before {
    z-index: 9999;
    color: #333333;
    font-size: 22px;
}
.van-nav-bar__title{
    color: #333;
    font-size: 17px;
    line-height:50px;
}
.van-nav-bar {
    position: fixed;
    top: 0px;
    width: 375px;
    z-index: 999 !important;
}
.van-nav-bar__right{
    line-height: 40px;
}
[class*=van-hairline]::after {
    border: 1px solid #E7E7E7;/*no*/
}

// button 样式
button {
    border: none;
}

// 公共背景
.white{
    background-color: white;
}

// 加载进度样式
.xialashuaxin .van-loading.van-loading--circular{
    width: 360px ;
}
