.maincontent{
    background:#f1f1fb
}
//切换菜单栏
.srelate_menu .van-tabs--card>.van-tabs__wrap{
    height:44px !important;
    width:265px !important;
    .van-tabs__nav--card {
        margin:0;
        height:44px;
        border:1px solid #4897FF /*no*/;
        border-radius: 5px;
        .van-tab{
            color:#4897FF;
            font-size: 14px !important;
            border-right:1px solid #4597FD/*no*/;
        }
    }
    .van-tab span{
        line-height:44px;
       
    }
    .van-tabs__nav--card .van-tab.van-tab--active {
        background:#4897FF;
        color:#ffffff;
    }
    
}
//上拉加载
.van-loading--circular{
    height:50px !important;
    line-height: 50px !important;
    font-size:10px !important;
  }
  //下拉选择框
  .dropdown [class*=van-hairline]::after{
      border: none;
  }
  .dropdown .van-popup--top{
      left:50% !important;
  }
  .dropdown .van-dropdown-menu__title::after{
      top:40%;
  }
  .dropdown .van-dropdown-menu__title{
    color:#333333;
    font-size:14px;
}
.dropdowns{
    margin-right: 15px;
    .van-dropdown-menu__title{
        color:#4597FD !important;
    }
}
//导航栏的footer banner
.shophome [class*=van-hairline]::after {
    border:none !important;
}
// 有钱花公共样式
.appliationlocnmain{
    background: #f1f1fb;
    padding-bottom:50px;
}
//温馨提示
.applireminder{
    height:40px;
    background: #FEF1E3;
    line-height:40px;
    font-size:13px;
    color:#FE951E;
    padding:0 15px;
    position: relative;
    margin-bottom:10px;
    img{
        width:11px;height:11px;
        position: absolute;
        right:30px;
        top:15px;
    }
}
//进度条
.applistap{
    background:#ffffff;
    height:96px;
    padding:0 24px;
    font-size:13px;
    margin:10px 0;
    color: #BFBFBF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .applistaplist{
        display: flex;
        flex-direction: column;
        img{
            width:46px;height:46px;
            margin-bottom: 6px;
        }
    }
}
.loneNext{
    height:50px;
    background: #4597FD;
    text-align: center;
    position: fixed;
    width:100%;
    bottom:0;
    line-height:50px;
    color:#ffffff;
    font-size:16px;
    text-align: center;
}
.applyloan{
    background: #ffffff;
    margin-bottom:8px;
    h3{
        height:39px;
        line-height:39px;
        display: flex;
        align-items: center;
        font-size:14px; 
        color:#333333;
        padding:0 15px;
        border-bottom:1px solid #E7E7E7 /*no*/;
        span{
            display: block;
            width:3px;
            height:18px;
            background: #4597FB;
            border-radius: 1px;
            margin-right: 8px;
        }
    }
   
}

//组件样式
.optionstyle{
    padding:15px;
    overflow: hidden;
    .chooser-list{
        margin-right: -22px;
    }
}
.optionstyles{
    padding:15px;
    overflow: hidden;
    .chooser-list{
        margin-right: -22px; 
        li{
            width:161px !important;
        }
    }
}
.applyloanhouse{
    padding:0 15px;
    >div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height:40px;
        border-bottom: 1px solid #E7E7E7 /*no*/;
        font-size:14px;
        color:#333333;
        overflow: hidden;
        input{
            height:100%;
            text-align: right;
        }
        .van-dropdown-menu__title::after{
            display: none;
        }
    }
    >div:nth-last-child(1){
        border:none;
    }
    
}